<launch>
	<!-- DRONE 2 - IP: 192.168.1.11 with namespace drone2 -->
	<group ns="drone2">
		<!-- Reference tag number for the drone to follow -->		
		<param name="id_ref" value="1" />
		

		<!-- Launching the the PID controller with parameter renaming if needed and with the tuning parameters -->
		<node name="plant2pid" pkg="drone" type="plant2pid.py" launch-prefix="xterm -e"/>


	</group>
</launch>
